:root
{
    --color--letras:  #F5F5F5;
    --color--efecto: #e74c3c;
    --tipo--letra:'Playfair Display', serif;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.barra
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: black;
    font-family: var(--tipo--letra);
    color:var(--color--letras);
    font-size: 18px;
    position: sticky;
    z-index: 1;
    top:0;
    border: 2px solid black;      
    
}

.barra ul
{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
}

a
{
  color: var(--color--letras);
  margin: 8px;
  text-decoration: none; 
  
}

a:hover
{
  color:var(--color--efecto)
}


.hero
{
    text-align: center;
    height: 100vh ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image:url(/hero-quintana.jpg);
     display: flex;
    flex-direction: column;
    color:var(--color--letras);
    font-family:var(--tipo--letra);
    text-shadow: 2px 2px 2px black;
    font-size: 20px;            
}

.hero h1 
{
    font-size: 64px;
}

.hero h3
{
    font-size:84px;
}



.contenedor {
  
  max-width: 100%;
  margin: 0 auto;
  
  
}

body 
{
    font-family: var(--estilo--letra);
    background-color:burlywood;
    font-family: var(--tipo--letra);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image:url(imagen.fondo.body.jpg);
    
    
}

.info
{
    
    background-color:black;
    color:beige;
    position: relative;
    padding: 10px;
    border-radius: 8px;
    border:2px solid black;
    text-wrap: wrap;
    text-align: center;
    width: 50%;
    left:25vw;
    margin: 20px;
    font-family:var(--tipo--letra);
    
    
    
}

fieldset 
{
    border-radius: 8px;
    border: 2px solid black;; 
    background-color:black;
    color: #e5d5c5;
    align-items: center;
    text-align: center;
    position: sticky;
    justify-content: space-between;
    margin: 15%;
    display: flex;
    position: relative;
    bottom: 0;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    font-family: var(--tipo--letra);
    

}
fieldset button
{
    background-color: black;
    color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    border: 2px solid brown;
    margin: 3px;
   
}

fieldset button:hover
{
    transform: scale(1.1);
  transition: all 0,5s ease;
  color: var(--color--efecto);
  
  box-shadow:2px 2px 10px brown ;
}



.producto {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #e5d5c5;
  border-radius: 8px;
  padding: 1rem 1.25rem;
  margin-bottom: 1rem;
  align-content: center;
}

.precio
 {
    color: brown;
 }


.pie
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: black;
    font-family: var(--tipo--letra);
    color: white;
    font-size: 18px;
    bottom: 0;
    border: 2px solid black;
}